/* Styling vars */
:root {
    --heading-font: "Anta", sans-serif;
    --text-font: "Space Grotesk", sans-serif;
}

/* Single-use values */
body {
    background-image: url('../media/images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.8);
    color: #f3f1f1;
}

.app {
    max-width: 800px;
    margin: 50px auto;
}

.container {
    background-color: #7babb768 ;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 7px 7px 12px #529eb1ae;
}

.hero > h1 {
    font-family: var(--heading-font);
    text-align: center;
    letter-spacing: 2px;
    font-size: 40px;
}

.output > p {
    font-family: var(--text-font);
    font-size: 22px;
}

.submit {
    display: inline-block;
}

.submit > input {
    background-color: #529eb1;
    color: #f3f1f1;
}

.answer {
    margin: 30px;
}

.answer > h3 {
    font-family: var(--text-font);
    text-align: center;
    font-size: 30px;
    margin: 0;
}

.footer > footer {
    font-family: var(--text-font);
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
}

.footer > footer > a {
    text-decoration: none;
    color: #529eb1;
}

/* Same value, multiple elements/classes */
.input > input, .input > select, .output > select, .submit > input, .submit > input:hover {
    padding: 12px 10px;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    margin: 10px;
    font-family: var(--text-font);
}

.input > input, .input > select, .output > select, .submit > input:hover {
    background-color: #f3f1f1;
    color: #529eb1;
}

@media (max-width: 380px) {
    /* Single-use value */
    .app {
        margin: 50px 10px;
        height: 850px;
    }

    .container {
        padding: 10px;
    }

    .hero > h1 {
        font-size: 25px;
    }

    .output > p {
        font-size: 16px;
    }

    .answer > h3 {
        font-size: 20px;
    }

    .footer > footer {
        font-size: 13px;
        margin-top: 25px;
    }

    /* Same value, multiple elements/classes */
    .input > input, .input > select, .output > select, .submit > input {
        padding: 8px 5px;
        font-size: 14px;
        border: none;
        border-radius: 6px;
        margin: 5px;
        font-family: var(--text-font);
    }
}